<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions,  Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="Category">
    <listeners>
      <add name="ErrrorLogTargetListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="trace.log" header="/////////////////////////////////////" footer="/////////////////////////////////////" formatter="ErrorLog" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" filter="All" />
      <!--
        <add name="Database Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="LoggingConnectionString" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="ErrorLog" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack"/>
      -->
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="ErrorLog" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Category">
        <listeners>
          <add name="ErrrorLogTargetListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="ErrrorLogTargetListener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="ErrrorLogTargetListener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors">
        <listeners>
          <add name="ErrrorLogTargetListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Business Layer Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Category" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="0" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <dataConfiguration defaultDatabase="Medyxv3ConnectionString" />
  <connectionStrings>
    <!--<add connectionString="Data Source=.;Initial Catalog=MedYX_HH04072019;UID=sa;PWD=HTC152C()" name="Medyxv3ConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=MedYX_HH04072019;UID=sa;PWD=HTC152C()" name="Medyx_YHCTTWConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=MedYX_HH04072019;UID=sa;PWD=HTC152C()" name="SqlDataProvider" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=MedYX_HH04072019;UID=sa;PWD=HTC152C()" name="SqlDataProviderNoiT" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=MedYX_HH04072019;UID=sa;PWD=HTC152C()" name="SqlDataProviderBC" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=MedYX_HH04072019;UID=sa;PWD=HTC152C()" name="LoggingConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=MedYX_HH04072019;UID=sa;PWD=HTC152C()" name="HTCDbContext" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=MedYX_HH04072019;UID=sa;PWD=HTC152C()" name="HL7DBContext" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=MedYX_HH04072019;UID=sa;PWD=HTC152C()" name="Medyx_hueConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=MedYX_HH04072019;UID=sa;PWD=HTC152C()" name="SqlDataProviderChuyenBN" providerName="System.Data.SqlClient"/>-->
    <!--<add connectionString="Data Source=192.1.0.24;Initial Catalog=medyx_QN_11112018;UID=sa;PWD=HTC152C()" name="Medyxv3ConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=192.1.0.24;Initial Catalog=medyx_QN_11112018;UID=sa;PWD=HTC152C()" name="SqlDataProvider" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=192.1.0.24;Initial Catalog=medyx_QN_11112018;UID=sa;PWD=HTC152C()" name="SqlDataProviderNoiT" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=192.1.0.24;Initial Catalog=medyx_QN_11112018;UID=sa;PWD=HTC152C()" name="SqlDataProviderBC" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=192.1.0.75;Initial Catalog=medyx_QN_11112018;UID=sa;PWD=HTC152C()" name="LoggingConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=192.1.0.24;Initial Catalog=medyx_QN_11112018;UID=sa;PWD=HTC152C()" name="HTCDbContext" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=192.1.0.24;Initial Catalog=medyx_QN_11112018;UID=sa;PWD=HTC152C()" name="HL7DBContext" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=192.1.0.24;Initial Catalog=medyx_QN_11112018;UID=sa;PWD=HTC152C()" name="Medyx_hueConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=192.1.0.24;Initial Catalog=medyx_QN_11112018;UID=sa;PWD=HTC152C()" name="SqlDataProviderChuyenBN" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Medyxv3ConnectionString" connectionString="Data Source=.;Initial Catalog=Medyx_pd;User ID=sa;Password=thao"  providerName="System.Data.SqlClient"/>
    <add name="SqlDataProvider" connectionString="Data Source=.;Initial Catalog=Medyx_pd;User ID=sa;Password=thao"  providerName="System.Data.SqlClient"/>
    <add name="SqlDataProviderNoiT" connectionString="Data Source=.;Initial Catalog=Medyx_pd;User ID=sa;Password=thao"  providerName="System.Data.SqlClient"/>
    <add name="SqlDataProviderBC" connectionString="Data Source=.;Initial Catalog=Medyx_pd;User ID=sa;Password=thao"  providerName="System.Data.SqlClient"/>
    <add name="SqlDataProviderChuyenBN" connectionString="Data Source=.;Initial Catalog=Medyx_pd;User ID=sa;Password=thao"  providerName="System.Data.SqlClient"/>
    <add name="LoggingConnectionString" connectionString="Data Source=.;Initial Catalog=Medyx_pd;User ID=sa;Password=thao"  providerName="System.Data.SqlClient"/>
    <add name="Medyx_LogConnectionString" connectionString="Data Source=.;Initial Catalog=Medyx_Log;UID=sa;PWD=thao; Min Pool Size=0;Pooling=true;Max Pool Size=5000" providerName="System.Data.SqlClient"/>
    <add name="Medyx_YHCTTWConnectionString" connectionString="Data Source=.;Initial Catalog=Medyx_pd;User ID=sa;Password=thao" providerName="System.Data.SqlClient"/>
    <add name="HTCDbContext" connectionString="Data Source=.;Initial Catalog=Medyx_pd;User ID=sa;Password=thao"  providerName="System.Data.SqlClient"/>
    <add name="Hl7Core_HaThang13122015ConnectionString" connectionString="Data Source=.;Initial Catalog=Medyx_pd;User ID=sa;Password=thao;Pooling=True;Min Pool Size=0;Max Pool Size=5000" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Medyxv3ConnectionString" connectionString="Data Source=.;Initial Catalog=medyx_qn;UID=sa;PWD=thao" providerName="System.Data.SqlClient"/>
    <add name="SqlDataProvider" connectionString="Data Source=.;Initial Catalog=medyx_qn;UID=sa;PWD=thao" providerName="System.Data.SqlClient"/>
    <add name="SqlDataProviderNoiT" connectionString="Data Source=.;Initial Catalog=medyx_qn;UID=sa;PWD=thao" providerName="System.Data.SqlClient"/>
    <add name="SqlDataProviderBC" connectionString="Data Source=.;Initial Catalog=medyx_qn;UID=sa;PWD=thao" providerName="System.Data.SqlClient"/>
    <add name="SqlDataProviderChuyenBN" connectionString="Data Source=.;Initial Catalog=medyx_qn;UID=sa;PWD=thao" providerName="System.Data.SqlClient"/>
    <add name="LoggingConnectionString" connectionString="Data Source=HTC-SRV3\SQLSERVER2012;Initial Catalog=Logging;UID=sa;PWD=thao" providerName="System.Data.SqlClient"/>
    <add name="Medyx_LogConnectionString" connectionString="Data Source=172.28.31.23;Initial Catalog=Medyx_Log;UID=sa;PWD=123456; Min Pool Size=0;Pooling=true;Max Pool Size=5000" providerName="System.Data.SqlClient"/>
    <add name="Medyx_YHCTTWConnectionString" connectionString="Data Source=172.28.31.23;Initial Catalog=medyx_bvtw;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="HTCDbContext" connectionString="Data Source=.;Initial Catalog=medyx_bvtw;UID=sa;PWD=thao" providerName="System.Data.SqlClient"/>
    <add name="Hl7Core_HaThang13122015ConnectionString" connectionString="172.28.31.23;Initial Catalog=Medyx_Hl7core_Hue;User ID=sa;Password=123456;Pooling=True;Min Pool Size=0;Max Pool Size=5000" providerName="System.Data.SqlClient"/>-->
	  
    <add connectionString="Data Source=192.1.0.24;Initial Catalog=Medyx_BVTW;UID=sa;PWD=HTC152C()" name="Medyxv3ConnectionString" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=192.1.0.24;Initial Catalog=Medyx_BVTW;UID=sa;PWD=HTC152C()" name="Medyx_YHCTTWConnectionString" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=192.1.0.24;Initial Catalog=Medyx_BVTW;UID=sa;PWD=HTC152C()" name="SqlDataProvider" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=192.1.0.24;Initial Catalog=Medyx_BVTW;UID=sa;PWD=HTC152C()" name="SqlDataProviderNoiT" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=192.1.0.24;Initial Catalog=Medyx_BVTW;UID=sa;PWD=HTC152C()" name="SqlDataProviderBC" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=192.1.0.24;Initial Catalog=Medyx_BVTW;UID=sa;PWD=HTC152C()" name="LoggingConnectionString" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=192.1.0.24;Initial Catalog=Medyx_BVTW;UID=sa;PWD=HTC152C()" name="HTCDbContext" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=192.1.0.24;Initial Catalog=Medyx_BVTW;UID=sa;PWD=HTC152C()" name="HL7DBContext" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=192.1.0.24;Initial Catalog=Medyx_BVTW;UID=sa;PWD=HTC152C()" name="Medyx_hueConnectionString" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=192.1.0.24;Initial Catalog=Medyx_BVTW;UID=sa;PWD=HTC152C()" name="SqlDataProviderChuyenBN" providerName="System.Data.SqlClient" />
	  
    <!--<add connectionString="Data Source=.;Initial Catalog=Medyx_BVTW;UID=sa;PWD=123456" name="Medyxv3ConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=Medyx_BVTW;UID=sa;PWD=123456" name="Medyx_YHCTTWConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=Medyx_BVTW;UID=sa;PWD=123456" name="SqlDataProvider" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=Medyx_BVTW;UID=sa;PWD=123456" name="SqlDataProviderNoiT" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=Medyx_BVTW;UID=sa;PWD=123456" name="SqlDataProviderBC" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=Medyx_BVTW;UID=sa;PWD=123456" name="LoggingConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=Medyx_BVTW;UID=sa;PWD=123456" name="HTCDbContext" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=Medyx_BVTW;UID=sa;PWD=123456" name="HL7DBContext" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=Medyx_BVTW;UID=sa;PWD=123456" name="Medyx_hueConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=Medyx_BVTW;UID=sa;PWD=123456" name="SqlDataProviderChuyenBN" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1797783552" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="BH_user" value="22046_TC" />
    <add key="BH_pass" value="ydct1234" />
    <add key="BH_internet" value="YES" />
    <add key="DateFormat" value="dd/MM/yyyy" />
    <add key="DateTimeFormat" value="dd/MM/yyyy HH:mm" />
    <add key="TimeFormat" value="HH:mm" />
    <add key="SqlDataProvider" value="HTC.BusinessObject.Data.SqlDataProvider" />
    <!-- <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>-->
    <add key="Telerik.Skin" value="Default" />
    <add key="Telerik.ScriptManager.TelerikCdn" value="Enabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Enabled" />
    <!--http://103.23.144.207/qlhsba/HisWebservice?wsdl hà Tĩnh-->
    <!--http://14.160.32.66/qlhsba/HisWebservice Phụ Sản-->
    <!-- START Phụ Sản-->
    <!--<add key="DTT.HL7Core.BaoCaoThongKeWebservice" value="http://221.133.18.15/qlhsba/BaoCaoThongKeWebservice?wsdl"/>
    <add key="DTT.HL7Core.KhoaPhongWebservice" value="http://221.133.18.15/qlhsba/KhoaPhongWebservice?wsdl"/>
    <add key="DTT.HL7Core.HisWebservice" value="http://221.133.18.15/qlhsba/HisWebservice?wsdl"/>
    <add key="DTT.HL7Core.OpenmrsService" value="http://221.133.18.15/qlhsba/OpenmrsService?wsdl"/>-->
    <!-- END Phụ Sản-->
    <!-- START Huế-->
    <!--<add key="DTT.HL7Core.BaoCaoThongKeWebservice" value="http://113.161.8.44:8080/qlhsba/BaoCaoThongKeWebservice?wsdl"/>
    <add key="DTT.HL7Core.KhoaPhongWebservice" value="http://113.161.8.44:8080/qlhsba/KhoaPhongWebservice?wsdl"/>
    <add key="DTT.HL7Core.HisWebservice" value="http://113.161.8.44:8080/qlhsba/HisWebservice?wsdl"/>
    <add key="DTT.HL7Core.OpenmrsService" value="http://113.161.8.44:8080/qlhsba/OpenmrsService?wsdl"/>-->
    <add key="DTT.HL7Core.BaoCaoThongKeWebservice" value="http://113.161.31.209:8080/qlhsba/BaoCaoThongKeWebservice?wsdl" />
    <add key="DTT.HL7Core.KhoaPhongWebservice" value="http://113.161.31.209:8080/qlhsba/KhoaPhongWebservice?wsdl" />
    <add key="DTT.HL7Core.HisWebservice" value="http://113.161.31.209:8080/qlhsba/HisWebservice?wsdl" />
    <add key="DTT.HL7Core.OpenmrsService" value="http://113.161.31.209:8080/qlhsba/OpenmrsService?wsdl" />
    <!-- END  Huế-->
    <!-- START YHCT-->
    <!--<add key="DTT.HL7Core.KhoaPhongWebservice" value="http://14.160.32.230:8080/qlhsba/KhoaPhongWebservice?wsdl"/>
    <add key="DTT.HL7Core.BaoCaoThongKeWebservice" value="http://14.160.32.230:8080/qlhsba/BaoCaoThongKeWebservice?wsdl"/>-->
    <!-- END YHCT-->
    <!--MedyxTeamFordation-->
    <!--Huế http://113.161.8.44/-->
    <!--<add key="DTT.HL7Core.OpenmrsService" value="http://192.168.60.30/qlhsba/OpenmrsService"/>
    <add key="DTT.HL7Core.HisWebservice" value="http://192.168.60.30/qlhsba/HisWebservice"/>-->
    <add key="SignserverWS.ClientWSService" value="http://14.160.32.230:8002/signserver/ClientWSService/ClientWS" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off">
      <!--
          <error statusCode="404" redirect="404.aspx" />
          <error statusCode="500" redirect="500.aspx" />
          -->
    </customErrors>
    <httpRuntime maxRequestLength="1000000000" executionTimeout="6000" requestValidationMode="2.0" />
    <authentication mode="Forms">
      <forms protection="All" timeout="3000" requireSSL="false" slidingExpiration="true" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
    </authentication>
    <sessionState timeout="6000" mode="InProc" cookieless="true" regenerateExpiredSessionId="false" stateNetworkTimeout="1000" sqlCommandTimeout="3000" cookieName="ASP.NET_SessionId" />
    <compilation debug="true" targetFramework="4.8" optimizeCompilations="true">
      <assemblies>
        <!--
        add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Design, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>                
        -->
        <!--
          <add assembly="Telerik.Web.Design, Version=2014.1.403.40, Culture=neutral, PublicKeyToken=121FAE78165BA3D4" />
          -->
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <!--<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/> -->
        <!-- <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" /> -->
        <!--
        <add assembly="CrystalDecisions.Data.AdoDotNetInterop, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>          
      <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      -->
        <!--               
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        -->
        <!--<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ReportDefModel, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Printing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral,              PublicKeyToken=cc7b13ffcd2ddd51" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" enableEventValidation="false">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <!--  <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
      <remove name="RadCompression" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" />
    </modules>
    <handlers>
      <remove name="ChartImage_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <!--  <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>-->
    </handlers>
    <security />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="serviceQueuePortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.1.0.174:6871/serviceQueue/serviceQueue" binding="basicHttpBinding" bindingConfiguration="serviceQueuePortBinding" contract="ServiceQueue.serviceQueue" name="serviceQueuePort" />
    </client>
  </system.serviceModel>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>