.container_12,.container_16{width:100%}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;margin-left:1%;margin-right:1%}
.container_12 .grid_3,.container_16 .grid_4{width:23%}
.container_12 .grid_6,.container_16 .grid_8{width:48%}
.container_12 .grid_9,.container_16 .grid_12{width:73%}
.container_12 .grid_12,.container_16 .grid_16{width:98%}
.alpha{margin-left:0}
.omega{margin-right:0}
.container_12 .grid_1{width:6.333%}
.container_12 .grid_2{width:14.666%}
.container_12 .grid_4{width:31.333%}
.container_12 .grid_5{width:39.666%}
.container_12 .grid_7{width:56.333%}
.container_12 .grid_8{width:64.666%}
.container_12 .grid_10{width:81.333%}
.container_12 .grid_11{width:89.666%}
.container_16 .grid_1{width:4.25%}
.container_16 .grid_2{width:10.5%}
.container_16 .grid_3{width:16.75%}
.container_16 .grid_5{width:29.25%}
.container_16 .grid_6{width:35.5%}
.container_16 .grid_7{width:41.75%}
.container_16 .grid_9{width:54.25%}
.container_16 .grid_10{width:60.5%}
.container_16 .grid_11{width:66.75%}
.container_16 .grid_13{width:79.25%}
.container_16 .grid_14{width:85.5%}
.container_16 .grid_15{width:91.75%}
.container_12 .prefix_3,.container_16 .prefix_4{padding-left:25%}
.container_12 .prefix_6,.container_16 .prefix_8{padding-left:50%}
.container_12 .prefix_9,.container_16 .prefix_12{padding-left:75%}
.container_12 .prefix_1{padding-left:8.333%}
.container_12 .prefix_2{padding-left:16.666%}
.container_12 .prefix_4{padding-left:33.333%}
.container_12 .prefix_5{padding-left:41.666%}
.container_12 .prefix_7{padding-left:58.333%}
.container_12 .prefix_8{padding-left:66.666%}
.container_12 .prefix_10{padding-left:83.333%}
.container_12 .prefix_11{padding-left:91.666%}
.container_16 .prefix_1{padding-left:6.25%}
.container_16 .prefix_2{padding-left:12.5%}
.container_16 .prefix_3{padding-left:18.75%}
.container_16 .prefix_5{padding-left:31.25%}
.container_16 .prefix_6{padding-left:37.5%}
.container_16 .prefix_7{padding-left:43.75%}
.container_16 .prefix_9{padding-left:56.25%}
.container_16 .prefix_10{padding-left:62.5%}
.container_16 .prefix_11{padding-left:68.75%}
.container_16 .prefix_13{padding-left:81.25%}
.container_16 .prefix_14{padding-left:87.5%}
.container_16 .prefix_15{padding-left:93.75%}
.container_12 .suffix_3,.container_16 .suffix_4{padding-right:25%}
.container_12 .suffix_6,.container_16 .suffix_8{padding-right:50%}
.container_12 .suffix_9,.container_16 .suffix_12{padding-right:75%}
.container_12 .suffix_1{padding-right:8.333%}
.container_12 .suffix_2{padding-right:16.666%}
.container_12 .suffix_4{padding-right:33.333%}
.container_12 .suffix_5{padding-right:41.666%}
.container_12 .suffix_7{padding-right:58.333%}
.container_12 .suffix_8{padding-right:66.666%}
.container_12 .suffix_10{padding-right:83.333%}
.container_12 .suffix_11{padding-right:91.666%}
.container_16 .suffix_1{padding-right:6.25%}
.container_16 .suffix_2{padding-right:16.5%}
.container_16 .suffix_3{padding-right:18.75%}
.container_16 .suffix_5{padding-right:31.25%}
.container_16 .suffix_6{padding-right:37.5%}
.container_16 .suffix_7{padding-right:43.75%}
.container_16 .suffix_9{padding-right:56.25%}
.container_16 .suffix_10{padding-right:62.5%}
.container_16 .suffix_11{padding-right:68.75%}
.container_16 .suffix_13{padding-right:81.25%}
.container_16 .suffix_14{padding-right:87.5%}
.container_16 .suffix_15{padding-right:93.75%}
html body * span.clear,html body * div.clear,html body * li.clear,html body * dd.clear{background:0;border:0;clear:both;display:block;float:none;font-size:0;list-style:none;margin:0;padding:0;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{clear:both;content:'.';display:block;visibility:hidden;height:0}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}
body{background:url("../img/main-bg.gif") repeat scroll 0 0 rgba(0,0,0,0);font-family:Tahoma !important;color:#333;font-size:11px;padding:0}
.errormesage{color:red}
select{font-size:11px;height:23px !important}
.RadComboBox_Default{font-family:Tahoma !important}
.floatleft{float:left}
.floatright{float:right}
.fontwhite{color:#fff}
.small{font-size:9px}
.inline-ul li{display:inline;color:#fff}
.marginleft10{margin-left:10px}
.grey{color:#c2c2c2}
a{color:#000;font-weight:bold;text-decoration:none}
a:hover{color:#333}
.outer{float:left;width:100%}
.mainContent{border-radius:1px solid black;border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin:0 auto;width:100%}
.container_12,.container_16{background:#2e5e79}
h1,h2,h3,h4,h5,h6{line-height:1.2em;margin-bottom:.3em}
h2{margin-top:1em}
h6{font-size:1em;text-transform:uppercase}
h1 a{font-weight:normal}
#branding{font-weight:normal;text-align:left;padding:2em 1em 1.6em 1em;margin-bottom:0}
#branding a{color:#a1eaff;font-weight:normal}
#branding a:hover{color:#fff}
#branding a:before{content:" | ";color:#fff}
#branding ul,#branding ul li{margin:0;padding:0}
#branding li{padding:0 0 0 0 !important}
.top-10{margin-top:-10px}
h2#page-heading{font-weight:normal;padding:.5em;margin:0 0 10px 0;border-bottom:1px solid #ccc;color:#fff}
.box{background:#fff;margin-bottom:20px;padding:10px 10px 10px 10px;margin-left:-8px}
.box.grid{padding-bottom:40px}
.box.round{-moz-border-radius:5px 5px 5px 5px;-webkit-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px}
.box h2{font-size:15px;font-weight:bold;color:#1b548d;background:#e6f0f3;margin:-10px -10px 0 -10px;padding:5px 5px;border-bottom:1px solid #b3cbd6;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}
.box h2 a,.box h2 a.visible{color:#1b548d;background:url("../img/switch_minus.gif") 97% 50% no-repeat;display:block;padding:5px 5px;margin:-6px -12px;border:0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}
.grid_4 .box h2 a{background-position:97% 50%}
.grid_5 .box h2 a{background-position:98% 50%}
.grid_12 .box h2 a{background-position:99% 50%}
.box h2 a.hidden,.box h2 a.hidden:hover{background-image:url("../img/switch_plus.gif")}
.box h2 a:hover{background-color:transparent}
.box.first{margin-top:10px}
.block{padding-top:10px}
div.menu{padding:0}
div.menu h2{margin:0}
div.menu .block{padding-top:0}
.box.sidemenu{background-color:#d1dee4;border-right:1px solid #3a5665;padding:0;margin:0;cursor:pointer}
.box.sidemenu .block{padding-top:0;margin-top:0}
p{margin-bottom:1em}
blockquote{font-family:Georgia,'Times New Roman',serif;font-size:1.2em;padding-left:1em;border-left:4px solid #ccc}
blockquote cite{font-size:.9em}
ul,ol{padding-top:0}
ul.menu{list-style:none;border-top:1px solid #bbb}
ul.menu li{margin:0}
ul.menu li a{display:block;padding:4px 10px;border-bottom:1px solid #ccc}
ul.menu li a:hover{background:#eee}
ul.menu li a:active{background:#ccc}
ul.menu ul{list-style:none;margin:0}
ul.menu ul li a{padding-left:30px}
ul.section{border-top:0;margin-bottom:0}
ul.section li a{background:url(../img/sidemenu-repeat.jpg) repeat-x;line-height:26px}
ul.section li a:hover{background:url(../img/sidemenu-repeat-hover.jpg) repeat-x}
ul.section li a:active{color:#1b548d;background:url(../img/sidemenu-repeat-hover.jpg) repeat-x}
ul.section li li a{background:#ddd;border-bottom:1px solid #eee}
ul.section li li a:hover{background:#ccc}
ul.section li li a:active{color:#000;background:#fff}
ul.section ul li{text-transform:none}
ul.section ul.current li a{background:#eee;border-bottom:1px solid #fff}
ul.section ul.current li a:hover{background:#e6f0f3}
ul.section ul.current li a:active{background:#e6f0f3}
ul.section li a.current{color:#1b548d;background:url(../img/sidemenu-repeat-hover.jpg) repeat-x}
ul.section li a.current:hover{color:#1b548d;background:url(../img/sidemenu-repeat-hover.jpg) repeat-x}
ul.section li a.current:active{color:#1b548d;background:url(../img/sidemenu-repeat-hover.jpg) repeat-x}
ul.section li a.active{background:#fff;cursor:default}
ul.section li.current>a.active,ul.section li.current>a.active:hover{color:#fff;background:#666;cursor:default}
table.form{width:100%}
table.form td{padding:4px 0}
table.form label{font-weight:bold}
table.form .col1{width:20%}
table.form input,table.form select{padding:4px 4px 5px 4px;border-top:1px solid #b3b3b3;border-left:1px solid #b3b3b3;border-right:1px solid #eaeaea;border-bottom:1px solid #eaeaea}
input.mini{width:30%}
input.medium{width:55%}
input.large{width:85%}
input.date{width:180px}
input.button{margin:0;padding:4px 8px 4px 8px;background:#d4d0c8;border-top:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #404040;border-bottom:1px solid #404040;color:#000}
input.error{background:#fbe3e4;border-top:1px solid #e1b2b3;border-left:1px solid #e1b2b3;border-right:1px solid #fbc2c4;border-bottom:1px solid #fbc2c4}
input.success{background:#e6efc2;border-top:1px solid #cebb98;border-left:1px solid #cebb98;border-right:1px solid #c6d880;border-bottom:1px solid #c6d880}
input.warning{background:#fff3b3;border-top:1px solid #cebb98;border-left:1px solid #cebb98;border-right:1px solid #c6d880;border-bottom:1px solid #c6d880}
span.error{margin:8px 0 0 0;padding:0;height:1%;color:red}
span.success{margin:8px 0 0 0;padding:0;height:1%;color:#7b912b}
label.error{margin:8px 0 0 0;padding:0;height:1%;display:block;color:red}
#site_info{color:#fff;background:#204562;border-top:1px solid #1d3b53;padding-left:20px}
#site_info p{line-height:35px;margin-bottom:0}
#site_info a{color:#9ab6cc}
#site_info a:hover{color:#000}
#loading{float:right;margin-right:14px;margin-top:-2px}
.block{padding-bottom:1px}
.toggler{color:#222;margin:0;padding:2px 5px;background:#eee;border-bottom:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #f5f5f5;border-left:1px solid #f5f5f5;font-size:1.1em;font-weight:normal}
.element h4{margin:0;padding:4px;line-height:1.2em}
.element p{margin:0;padding:4px}
.float-right{padding:10px 20px;float:right}
#accordian-block{padding-bottom:10px}
#kwick-box{padding:0;overflow:hidden}
#kwick-box h2{margin:0}
#kwick{position:relative}
#kwick .kwicks{display:block;background:#999;height:120px;list-style:none;margin:0;overflow:hidden}
#kwick li{float:left;margin:0;padding:0}
#kwick .kwick{display:block;cursor:pointer;overflow:hidden;height:100px;width:215px;padding:10px;background:#fff}
#kwick .kwick span{color:#fff}
#kwick .one{background:#666}
#kwick .two{background:#777}
#kwick .three{background:#888}
#kwick .four{background:#999}
.stat-col{float:left;margin:0;margin-right:30px}
.stat-col span{font-weight:bold;font-size:1.1em;font-family:Helvetica Neue,Arial}
.stat-col p{font-family:Helvetica Neue,Arial;font-size:3em;color:#fff;font-weight:bold;text-shadow:1px 1px 0 rgba(27,27,27,0.4);filter:dropshadow(color=#1b1b1b,offx=1,offy=1) -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;line-height:1.1em;padding:4px 12px;margin-bottom:10px;margin-top:4px}
.stat-col p.purple{background-color:#47196e;background:-webkit-gradient(linear,left top,left bottom,from(#a072c7),to(#47196e));background:-webkit-linear-gradient(top,#a072c7,#47196e);background:-moz-linear-gradient(top,#a072c7,#47196e);background:-ms-linear-gradient(top,#a072c7,#47196e);backgroun:-o-linear-gradient(top,#a072c7,#47196e);background:linear-gradient(top,#a072c7,#47196e);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#a072c7',EndColorStr='#47196e')}
.stat-col p.yellow{background-color:#ffb400;background-image:linear-gradient(top,#ffc22e,#d19400)}
.stat-col p.darkblue{background-color:#163247;background-image:linear-gradient(top,#5d798e,#163247)}
.stat-col p.green{background-color:#5c8000;background-image:linear-gradient(top,#a3c747,#5c8000)}
.stat-col p.blue{background-color:#074676;background-image:linear-gradient(top,#4d8cbc,#074676)}
.stat-col p.red{background-color:#a40312;background-image:linear-gradient(top,#ea4958,#a40312)}
.stat-col.last{margin-right:0}
img.left{margin:10px 10px 10px 0;border:0;float:left}
img.right{margin:10px 0 10px 10px;border:0;float:right}
.fullpage{margin-left:0}
.prettygallery{margin-top:10px}
.prettygallery li{display:inline;padding:0 70px 40px 10px;margin:0;float:left}
.prettygallery img{box-shadow:0 0 5px #ccc;-moz-box-shadow:0 0 5px #ccc;-webkit-box-shadow:0 0 5px #ccc;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;padding:5px;background:#fff}
.dataTables_info,.dataTables_paginate{margin-bottom:3em}
.dataTables_wrapper{position:relative;min-height:302px;clear:both;_height:302px;zoom:1}
.dataTables_processing{position:absolute;top:50%;left:50%;width:250px;height:30px;margin-left:-125px;margin-top:-15px;padding:14px 0 2px 0;border:1px solid #ddd;text-align:center;color:#999;font-size:14px;background-color:white}
.dataTables_length{width:40%;float:left;margin-bottom:1em}
.dataTables_filter{width:50%;float:right;text-align:right;margin-bottom:1em}
.dataTables_info{width:60%;float:left;margin-top:1em}
.dataTables_paginate{float:right;text-align:right;margin-top:1em}
.paginate_disabled_previous,.paginate_enabled_previous,.paginate_disabled_next,.paginate_enabled_next{height:19px;width:19px;margin-left:3px;float:left;cursor:pointer}
.paginate_disabled_previous{background-image:url(../img/table/back_disabled.png)}
.paginate_enabled_previous{background-image:url(../img/table/back_enabled.png)}
.paginate_disabled_next{background-image:url(../img/table/forward_disabled.png)}
.paginate_enabled_next{background-image:url(../img/table/forward_enabled.png)}
table.display{margin:0 auto;clear:both;width:100%}
.sorting_asc{background:#8f8f8f url(../img/table/sort_asc.png) no-repeat center right;padding:8px 5px;text-align:left;color:#fff}
.sorting_desc{background:#8f8f8f url(../img/table/sort_desc.png) no-repeat center right;padding:8px 5px;text-align:left;color:#fff}
.sorting{background:#8f8f8f url(../img/table/sort_both.png) no-repeat center right;padding:8px 5px;text-align:left;color:#fff}
.sorting_asc_disabled{background:#8f8f8f url(../img/table/sort_asc_disabled.png) no-repeat center right;padding:8px 5px;text-align:left;color:#fff}
.sorting_desc_disabled{background:#8f8f8f url(../img/table/sort_desc_disabled.png) no-repeat center right;padding:8px 5px;text-align:left;color:#fff}
tr.odd{height:30px;line-height:30px;border-bottom:1px solid #e6e6e6}
tr.even{height:30px;line-height:30px;border-bottom:1px solid #e6e6e6}
tr.odd:hover,tr.even:hover{background:#f6f6f6}
tr.odd td,tr.even td{padding-left:5px}
.clear{clear:both}
.dataTables_empty{text-align:center}
tfoot{display:none}
tfoot input{margin:.5em 0;width:100%;color:#444}
tfoot input.search_init{color:#999}
td.group{background-color:#d1cfd0;border-bottom:2px solid #a19b9e;border-top:2px solid #a19b9e}
td.details{background-color:#d1cfd0;border:2px solid #a19b9e}
.example_alt_pagination div.dataTables_info{width:40%}
.paging_full_numbers{width:400px;height:22px;line-height:22px}
.paging_full_numbers span.paginate_button,.paging_full_numbers span.paginate_active{border:1px solid #aaa;-webkit-border-radius:5px;-moz-border-radius:5px;padding:2px 5px;margin:0 3px;cursor:pointer;*cursor:hand}
.paging_full_numbers span.paginate_button{background-color:#ddd}
.paging_full_numbers span.paginate_button:hover{background-color:#ccc}
.paging_full_numbers span.paginate_active{background-color:#99b3ff}
.btn,.btn-icon,.btn-mini{background-repeat:repeat-x;color:#FFF;font-weight:bold;display:inline-block;text-decoration:none;border-width:1px;border-style:solid;padding:0 15px 4px;*padding:0 7px 4px;margin:0;text-shadow:1px 1px 1px rgba(0,0,0,.2);-moz-box-shadow:1px 1px 1px rgba(0,0,0,.25);-webkit-box-shadow:1px 1px 1px rgba(0,0,0,.25);-moz-border-radius:4px;-webkit-border-radius:4px;filter:progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=135,strength=2);cursor:pointer;position:relative}
.btn:active,.btn-icon:active,.btn-mini:active{top:1px}
.btn,.btn-icon{background-position:0 -80px;font-size:12px;height:32px;line-height:29px}
.btn.btn-small,.btn-icon.btn-small{background-position:0 0;font-size:10px;height:26px;line-height:23px}
.btn.btn-large,.btn-icon.btn-large{background-position:0 -160px;font-size:15px;height:42px;line-height:40px}
a.btn,a.btn-icon{height:32px;line-height:32px;padding-bottom:0}
a.btn.btn-small,a.btn-icon.btn-small{line-height:26px;padding-bottom:0}
a.btn.btn-large,a.btn-icon.btn-large{line-height:42px;padding-bottom:0}
*+html .btn,*+html .btn-icon{border-color:none;border:1px solid transparent}
.btn,.btn-icon,.btn-mini,.btn:visited,.btn-icon:visited,.btn-mini:visited{background-image:url(../img/bg-lite.png);background-color:#F90;border-color:#d58000;color:#FFF}
.btn:hover,.btn-icon:hover,.btn-mini:hover{background-color:#d58000;color:#FFF}
.btn-pink,.btn-pink:visited{background-color:#f06;border-color:#da0c59}
.btn-pink:hover{background-color:#da0c59}
.btn-blue,.btn-blue:visited{background-color:#066ecd;border-color:#0561b4}
.btn-blue:hover{background-color:#0561b4}
.btn-red,.btn-red:visited{background-color:#e40001;border-color:#c00}
.btn-red:hover{background-color:#c00}
.btn-green,.btn-green:visited{background-color:#77b32f;border-color:#689c29}
.btn-green:hover{background-color:#689c29}
.btn-black,.btn-black:visited{background-color:#111;border-color:#000}
.btn-black:hover{background-color:#000}
.btn-purple,.btn-purple:visited{background-color:#7b0f75;border-color:#6a0d66}
.btn-purple:hover{background-color:#6a0d66}
.btn-navy,.btn-navy:visited{background-color:#002142;border-color:#00172f}
.btn-navy:hover{background-color:#00172f}
.btn-maroon,.btn-maroon:visited{background-color:#750000;border-color:#530000}
.btn-maroon:hover{background-color:#530000}
.btn-yellow,.btn-yellow:visited{background-color:#fc0;border-color:#d9ad01}
.btn-yellow:hover{background-color:#d9ad01}
.btn-teal,.btn-teal:visited{background-color:#39a7b6;border-color:#2e8794}
.btn-teal:hover{background-color:#2e8794}
.btn-orange,.btn-orange:visited{background-color:#F90;border-color:#d58000;color:#FFF}
.btn-orange:hover{background-color:#d58000;color:#FFF}
.btn-grey,.btn-grey:visited{background-color:#999;border-color:#888;color:#FFF}
.btn-grey:hover{background-color:#888;color:#FFF}
.btn-blue,.btn-black,.btn-purple,.btn-navy,.btn-maroon,.btn-teal,.btn-grey{background-image:url(../img/bg-dark.png) !important}
.btn-red,.btn-orange,.btn-green,.btn-yellow,.btn-pink{background-image:url(../img/bg-lite.png) !important}
.btn-icon{padding-left:32px !important}
*+html .btn-icon{padding-left:20px !important;padding-right:5px !important}
.btn-icon span{background-image:url(../img/btn-icons.png);background-repeat:no-repeat;background-position:0 0;width:16px;height:16px;position:absolute;left:6px;top:6px}
.btn-icon.btn-small span{top:4px}
.btn-icon.btn-large span{top:12px}
@-moz-document url-prefix(){.btn-icon span;{left:-24px;top:0}
.btn-icon.btn-small span{top:-1px}
.btn-icon.btn-large span{top:4px}
}
.btn-mini{background-position:0 0;width:32px;height:26px !important;line-height:500px !important;overflow:hidden;padding:0}
.btn-mini span{background-image:url(../img/btn-icons.png);background-repeat:no-repeat;display:block;width:16px;height:16px;line-height:0;position:absolute;left:50%;top:50%;margin-left:-8px;margin-top:-8px}
.btn-arrow-down span{background-position:-48px 0}
.btn-arrow-up span{background-position:-32px 0}
.btn-arrow-right span{background-position:-16px 0}
.btn-arrow-left span{background-position:0 0}
.btn-comment span{background-position:-112px 0}
.btn-heart span{background-position:-96px 0}
.btn-star span{background-position:-80px 0}
.btn-cart span{background-position:-64px 0}
.btn-print span{background-position:-128px 0}
.btn-rss span{background-position:-144px 0}
.btn-person span{background-position:0 -16px}
.btn-check span{background-position:-16px -16px}
.btn-dollar span{background-position:-32px -16px}
.btn-refresh span{background-position:-48px -16px}
.btn-home span{background-position:-64px -16px}
.btn-plus span{background-position:-80px -16px}
.btn-minus span{background-position:-96px -16px}
.btn-cross span{background-position:-112px -16px}
.btn-transparent,.btn-transparent:hover{background-image:url(../img/bg-lite.png);background-color:transparent;filter:none;border-color:transparent\0/;border-color:rgba(0,0,0,.4) !important;margin:0 1em 0 0}
*+html .btn-transparent{border:0}
.message{padding:10px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;margin-bottom:10px;-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5)}
.message h3{margin-top:0}
.message p{margin-bottom:0}
.message.info{border:1px solid #cadcea;background:#e1f2fc;background:-webkit-gradient(linear,left top,left bottom,from(#e1f2fc),to(#cae9fd));background:-moz-linear-gradient(top,#e1f2fc,#cae9fd);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1f2fc',endColorstr='#cae9fd');color:#225b86;text-shadow:0 1px 0 #fff}
.message.error{border:1px solid #eeb7ba;background:#fae2e2;background:-webkit-gradient(linear,left top,left bottom,from(#fae2e2),to(#f2cacb));background:-moz-linear-gradient(top,#fae2e2,#f2cacb);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae2e2',endColorstr='#f2cacb');color:#be4741;text-shadow:0 1px 0 #fff}
.message.success{border:1px solid #b8c97b;background:#e5edc4;background:-webkit-gradient(linear,left top,left bottom,from(#e5edc4),to(#d9e4ac));background:-moz-linear-gradient(top,#e5edc4,#d9e4ac);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5edc4',endColorstr='#d9e4ac');color:#3f7227;text-shadow:0 1px 0 #fff}
.message.warning{border:1px solid #e5dbaa;background:#ffffc0;background:-webkit-gradient(linear,left top,left bottom,from(#ffffc0),to(#f9ee9c));background:-moz-linear-gradient(top,#ffffc0,#f9ee9c);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc0',endColorstr='#f9ee9c');color:#6d7829;text-shadow:0 1px 0 #fff}
.gallery-sand .sorting{background-color:white !important}
#tbl4cols{empty-cells:show;padding:5px}
#tbl4cols td:nth-child(1),#tbl4cols td:nth-child(3),#tbl2cols td:nth-child(1),#tbl2cols td:nth-child(3){text-align:right}
#tbl4cols td:nth-child(1){width:100px !important}
#tbl4cols td:nth-child(2){width:200px !important}
#tbl4cols td:nth-child(3){width:100px !important;text-align:center}
#tbl4cols td:nth-child(4){width:250px !important}
#tbl2cols tr td:first-child{width:50px;text-align:center}
#tbl2cols tr td:last-child{width:150px;text-align:center}
.form-container{width:100%;margin-left:auto;margin-right:auto}
.form-container>fieldset{width:95%;padding-left:15px}
.form-container>fieldset>legend>label{font-weight:bold;font-size:12px;padding-left:10px}
.form-container td{padding:3px}
.span-all{width:100% !important}
#lblFormTitle{font-size:13px;font-weight:bold;padding-left:10px}
.rfdSelect{width:100% !important}
fieldset{text-align:left}
div.contentWrapper table td:nth-child(1){width:70px}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:11px;font-family:Tahoma;vertical-align:baseline;background:transparent}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table td{padding-right:5px}
body{overflow-y:scroll}
.grid_12 ul{border-radius:5px}

fieldset div.contentWrapper table td:nth-child(1), 
fieldset div.contentWrapper table td:nth-child(3), 
fieldset div.contentWrapper table td:nth-child(5), 
fieldset div.contentWrapper table td:nth-child(7), 

table.data-form-in-grid td:nth-child(1),
table.data-form-in-grid td:nth-child(3), 
table.data-form-in-grid td:nth-child(5),
table.data-form-in-grid td:nth-child(7), 

div#ctl00_ContentPlaceHolder1_RadMultiPage1 div.form-container fieldset table td:nth-child(1),
div#ctl00_ContentPlaceHolder1_RadMultiPage1 div.form-container fieldset table td:nth-child(3),
div#ctl00_ContentPlaceHolder1_RadMultiPage1 div.form-container fieldset table td:nth-child(5),
div#ctl00_ContentPlaceHolder1_RadMultiPage1 div.form-container fieldset table td:nth-child(7),

div.form-container fieldset table td:nth-child(1),
div.form-container fieldset table td:nth-child(3),
div.form-container fieldset table td:nth-child(5),
div.form-container fieldset table td:nth-child(7),

fieldset.align-right-container table td:nth-child(1),
fieldset.align-right-container table td:nth-child(3),
fieldset.align-right-container table td:nth-child(5),
fieldset.align-right-container table td:nth-child(7),

table.must-align td:nth-child(1),
table.must-align td:nth-child(3),
table.must-align td:nth-child(5),
table.must-align td:nth-child(7)
{
    text-align:right;
}

table.rgMasterTable td:nth-child(1),
table.rgMasterTable td:nth-child(3),
table.rgMasterTable td:nth-child(5),
table.rgMasterTable td:nth-child(7),

table.rgDetailTable td:nth-child(1),
table.rgDetailTable td:nth-child(3),
table.rgDetailTable td:nth-child(5),
table.rgDetailTable td:nth-child(7)
{
    text-align:left !important;
}


.checkboxlist-container {
    width:150px;
    height:120px;
    overflow:auto;    
}


fieldset {
    /*border:1px solid #999;*/
    border-radius:4px;
    /*box-shadow:0 0 2px #999;*/
}

legend {
    background:#fff;
}

        .RowStyle:hover
     {
         font-family: 'Times New Roman' !important;
            font-size: 14px!important;
            font-weight: bold!important;
     }   
        .rcbItem {
            font-family: 'Times New Roman' !important;
            font-size: 14px!important;
            font-weight: bold!important;
           
        }
            .rcbHovered {
                 font-family: 'Times New Roman' !important;
                 font-size: 14px!important;
               font-weight: bold!important;
            }
            select[hover] {
                 font-family: 'Times New Roman' !important;
                 font-size: 20px!important;
               font-weight: bold!important;
            }
        input,select {
            font-family: 'Times New Roman' !important;
            font-size: 14px!important;
            font-weight: bold!important;
        }

            input[disabled] {
                /* Your CSS Styles */
                color: blue!important;
                background-color: white !important;
                font-weight: bold!important;
                backface-visibility: hidden!important;
                font-size: 14px!important;
            }
            select[disabled='disabled'] {
                color: blue!important;
                background-color: white !important;
                font-weight: bold!important;
                backface-visibility: hidden!important;
                font-size: 14px!important;
            }
        RadGrid, .RadGrid .rgMasterTable, .RadGrid .rgDetailTable, .RadGrid .rgGroupPanel table, .RadGrid .rgCommandRow table, .RadGrid .rgEditForm table, .RadGrid .rgPager table, .GridToolTip {
            font-family: 'Times New Roman' !important;
            font-size: 14px!important;
            font-weight: bold!important;
        }
       
        div.RadComboBox .rcbDisabled,
        div.RadComboBox .rcbDisabled .rcbInputCell .rcbInput {
            color: blue!important;
            background-color: white!important;
            font-weight: bold!important;
            backface-visibility: hidden!important;
            font-size: 14px!important;
        }
      
       
